---
http_interactions:
- request:
    method: get
    uri: https://api.frankfurter.app/2024-01-01..2024-07-31?from=USD&to=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"483e56799cd590a57b947254f5acc9a7"
    body:
      encoding: ASCII-8BIT
      string: '{"amount":1.0,"base":"USD","start_date":"2023-12-29","end_date":"2024-07-31","rates":{"2023-12-29":{"GBP":0.78647},"2024-01-02":{"GBP":0.79085},"2024-01-03":{"GBP":0.79192},"2024-01-04":{"GBP":0.78771},"2024-01-05":{"GBP":0.7894},"2024-01-08":{"GBP":0.78705},"2024-01-09":{"GBP":0.78554},"2024-01-10":{"GBP":0.78589},"2024-01-11":{"GBP":0.78406},"2024-01-12":{"GBP":0.78551},"2024-01-15":{"GBP":0.78643},"2024-01-16":{"GBP":0.79101},"2024-01-17":{"GBP":0.78899},"2024-01-18":{"GBP":0.78872},"2024-01-19":{"GBP":0.78833},"2024-01-22":{"GBP":0.78581},"2024-01-23":{"GBP":0.78636},"2024-01-24":{"GBP":0.78444}[...]
