---
http_interactions:
- request:
    method: get
    uri: https://api.frankfurter.app/2024-01-01?from=USD&to=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"636e3f48226af7550b8135de12cd2a1b"
    body:
      encoding: ASCII-8BIT
      string: '{"amount":1.0,"base":"USD","date":"2023-12-29","rates":{"GBP":0.78647}}'
  recorded_at: Sat, 02 Aug 2025 09:46:13 GMT
recorded_with: VCR 6.3.1
